*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.logo{
  width:410px;
  height: 80px;
}
.banner{
  background: url('bg.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  backdrop-filter: blur(10px);


  
}
ul.navbar {
            list-style-type: none;
            background-color: #fcbd58;
            overflow: hidden;
  display: flex;
  justify-content: space-evenly;
        }

        li.navitem {
            float: left;
           display: flex;
  justify-content: space-evenly;
        }

        li.navitem a {
            display: block;
            color: black;
            padding: 20px 20px;
           display: flex;
  justify-content: space-evenly;
        
          
        }
.h1{
  color:#fcbd58;
  font-size: 1.5rem;
}
.h2{
  color:#fcbd58;
  font-size: 1.5rem;
}
.h3{
  color:#fcbd58;
  font-size: 1.5rem;
}
.h4{
  color:#fcbd58;
  font-size: 1.5rem;
}
.image-container {
            justify-content: center;
            align-items: center;

        }

        .image {
            margin: 12px;
          width:500px;
          height:120px;
          object-fit: contain;
          background: #000000;
        }
.image2-container {
            justify-content: center;
            align-items: center;
 
        }

        .image2 {
            margin: 12px;
          width:110px;
          height:120px;
          object-fit: contain;
        }
.image3-container {
            justify-content: center;
            align-items: center;
 
        }

        .image2 {
            margin: 12px;
          width:110px;
          height:120px;
          object-fit: contain;
          
        }
.image4-container {
            justify-content: center;
            align-items: center;
 
        }

        .image2 {
            margin: 12px;
          width:110px;
          height:120px;
   
        }
.size{
  border: 11px;
  cursor: zoom-out;
  display: block;
  width:390px;
  max-width: 410px;
  height: 650px;
  position:fixed;
  object-fit: contain;
  top:100px;
  right:1px;
  background: #fcbd58;
  
}
