.body{
  background: url('bg.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  backdrop-filter: blur(10px);

}
.logo{
  width:400px;
  height: 80px;
}

.box{
  width:330px;
  margin: 100px auto;
  boder-radius: 100px;
  text-align: center;
}
.title{
  font-size: 1.5rem;
  color:#fcbd58;

}

.details input{
  width:80%;
  outline: none;
  padding: 12px 20px;
  background:  #fcbd58;
  border-radius: 30px;
  margin-bottom: 15px;
  
  
  
}
.button input{
height: 5%;
width: 70%;
border-radius: 30px;
border: none;
color: #000000;
font-size: 18px;
letter-spacing: 1px;
cursor: pointer;
  background: #fcbd58;
}
.p{
  font-size: 1.5rem;
  color:#fff;
}
.log{
  font-size: 2rem;
  color:#fcbd58;
}